@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --slide-width: 100vw !important;
    --slide-height: 100vh !important;
}

body {
  
    background-image: url('/images/bg.jpg') ;

    @media (min-width: 1280px) { 
        background-image: url('/images/bg-main.jpg') ;
        @apply bg-cover;
     }
   
}


.reveal {
    @media (max-width: 1280px) { 
        overflow-y: scroll !important;
     }
   
}

.reveal.center, .reveal.center .slides, .reveal.center .slides section {
   
    @media (min-width: 1280px) { 
        max-height: 100vh;
        padding: 0 !important;
        margin: 0 !important;
     }
   
    
   
}

.letnie-wrapper {
    

   .slides {

    .view {

        display: flex !important;
        flex-direction: column-reverse !important;
      

        @media (min-width: 1280px) { 
           
            flex-direction: row !important;
            align-items:  stretch !important;
            justify-content: center !important;
         }

    

        .letnie-col-1,
    .letnie-col-2
     {
        @apply flex flex-col items-center justify-start w-full sm:justify-center 2xl:flex-grow xl:h-screen xl:relative;
    }

    .letnie-col-1 {
        @apply p-8 xl:p-0  pt-24 xl:pt-0 ;
        @media (min-width: 1280px) { 
           
         top: -4vh
         }
    }

        
    .letnie-col-2 {
        @apply xl:bg-right bg-no-repeat relative mx-auto ;

        @media (min-width: 1280px) { 
           
            top: -4vh
            }
       
        .footer-right-img {
            @apply hidden xl:block 2xl:relative 2xl:-right-10  transform xl:scale-75 2xl:scale-100 z-20 relative;
            transform-origin: top;
        }
    }

    .letnie-col-2 {

        // background-image: url('/images/bg-3.png') ;
        // background-size: cover;

        background-image: url('/images/bg-repeat.png') ;
        background-size: contain !important;
        background-repeat: repeat !important;
      
    
        @apply   p-8 xl:p-0;

        @media (min-width: 1280px) { 
            background-image: none;
         }

        
    }

    .buttons {
        @apply flex xl:flex-row items-center justify-center mt-8 mb-8 xl:-mt-4 xl:mb-5  2xl:-mt-0  2xl:mb-4 transform xl:scale-75 2xl:scale-100 mx-auto;

        a {
            @apply block mr-3 ml-3 cursor-pointer hover:opacity-90;
        }
    }

    .logo-main {
     @apply  w-72  mx-auto mb-6 xl:mb-0 2xl:mb-0 transform xl:w-2/3 xl:scale-50  xl:-mt-24 2xl:-mt-0 xl:relative top-6 2xl:top-0;
     transform-origin: center;
    }

    .cities {
        @apply  transform scale-75 2xl:scale-75 xl:w-2/3 mx-auto  ;
        transform-origin: top;
    }

    .label {
        @apply 2xl:mb-4 transform scale-75 2xl:scale-100 xl:-mt-4 2xl:-mt-0;
        transform-origin: top;
    }

    .eventim {
        @apply 2xl:mb-7 transform scale-75 2xl:scale-100 xl:-mt-4  2xl:-mt-0;
        transform-origin: top;
    }

    .black-btn {
        @apply cursor-pointer hover:opacity-90 transform xl:w-1/3 mx-auto scale-75 ;
        transform-origin: top;
    }
    .logo-black {
        @apply w-72 xl:w-2/3 xl:scale-50 mx-auto transform xl:-mt-16 2xl:-mt-0  2xl:scale-50;
        transform-origin: bottom;
    }
  

    .logos {
        @apply xl:mt-6 hidden xl:block;
    }
    .logos__mobile {
       @apply mt-11 xl:hidden;
    }

    .lineup {
        @apply mt-8 xl:mt-0 transform xl:scale-75 ;
    }

    .img-over {
        @apply absolute -bottom-12;
    }
    }
       
   }
   
}